.block-generic_content {
	padding-top:110px;
	padding-bottom:100px;
	z-index:3;
	position:relative;
	background-color:$light-grey;
	.gc-wrap {
		z-index:3;
		display:inline-block;
		width:100%;
		padding-left:40px;
		padding-right:40px;
	}
	.interior-box{
		max-width:900px;
	}
	.gc-content{
		margin:0px;
		padding:0px;	
//		font-family:'Open Sans Condensed', 'sans-serif';
		
		h1{
			font-family:'Open Sans Condensed', 'sans-serif';
			margin-top:40px;
			margin-bottom:30px;
			color:black;
			font-weight:bold;
		}
		h2{
			color:black;
			font-weight:bold;
			margin-bottom:25px;
		}
		p{
			font-family:'Open Sans Condensed', 'sans-serif';
			//font-family:'IBM';
			font-size:22px;
			margin-bottom:30px;
			line-height:32px;
			color:#202020 !important;
		}
		ul{
			margin-bottom:45px;
			list-style-type:none;
			li{
				color:#202020 !important;
				font-size:22px;
				line-height:32px;
				margin-bottom:10px;
				&:before{
					content: "\2022";
				    display: inline-block;
				    width: 20px;
				    font-size: 24px;
				    margin-left: -20px;
				    color: #09c;
    			}				
			}
		}
	}
	.top-bar{
		display:none;
	}
	@media #{$bp-mobile} {
		padding-bottom:0;
		padding-left:30px;
		padding-right:30px;
		.interior-container{
			&.interior-box-wide{
				max-width:100%;
				.content{
					max-width:100%;
					display:block;
					padding-right:0;

				}
				.sidebar-box{
					display:block;
					width:100%;
				}
			}
			display:inline-block;
		}

		.left-bar{
			display:none;
		}
		.top-bar{
			width:200%;
			height:30px;
			display:block;
			float:none;
		}
		.gc-wrap{
			float:none;
			width:100%;
			display:block;
			clear:both;
			padding:0;
			i{
				font-size:24px !important;
				line-height:30px !important;
			}
		}
		
	}

}

.gc-header{
	.block-generic_content{
		padding-top:20px;
	}
	.interior-container.isHeader{
		margin-top:90px;
		border-top:solid 1px $medium-grey;
	}
}
.page-id-65{
	@media #{$bp-mobile} {
		.block-generic_content{
			padding-top:0px;
			.gc-wrap{
				h2{
					i{
						padding-bottom:8px;
					}
				}
			}

		}
	}
}