$header-height:50vh;
$header-height-desk:50vh;

.has-parent-header{
	.block-header{
		box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
		-webkit-box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
		-moz-box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
	}
	.block-headerbanner {
		margin-bottom:0;
	}
}
.block-headerbanner {
	position: relative;
	//top:-70px;
	h3{
		text-transform:uppercase;
	}
	.slides-block-image{
width:100%;	
		height:99vh;
object-fit:cover;
		//max-width:1140px;
		margin: 0 auto;
	}
	.slick-slider{
		position: relative;
	}
	.slick-slide{
		height:99vh;
		overflow:hidden;
		text-align:center;
	}
	.slick-current{
		//background-color:red;
	}
	.slick-prev:before{
		content: url('/wp-content/themes/pilot/mason-modules/headerbanner/img/Arrow-Left.svg');
	}
	.slick-next:before{
		content: url('/wp-content/themes/pilot/mason-modules/headerbanner/img/Arrow-Right.svg');
	}
	#html5-watermark{
		display:none !important;
	}
	.caption-wrapper{
		height:72px;
		width:400px !important;
		max-width:100%;
//		margin-top:-102px;
position:absolute;
left:0;
bottom:5px;
		.nav-wrapper{
		background-color:white;
			padding:20px;
			width:100px;
			background-color:$white;
			height:72px;
			z-index:99;
			position:relative;
			//float:right;
			display:inline-block;
			.slick-next, .slick-prev{
					z-index:9999;
			}
			.slick-prev{
				float:left;
				left:20px !important;
			}
			.slick-next{
				float:right;
				right:20px !important;
			}
		}
		.slick-caption{
			float:left;
			width:300px;
			display:inline-block;
		}
		.caption{
			background-color:white;
			height:72px;
			padding:20px;
			padding-top:18px;
			text-align:left;
			a:hover{
				cursor:pointer;
				text-decoration:none;
			}
			h3{
				margin-bottom:5px;

			}
			h6{
				margin-bottom:0;
			}
			&.slick-current{
				color:black;
				overflow:hidden;
			}
		}
	}

	.parent-header{
		display:flex;
		.interior-container{
			h6{
				a, a:visited, a:hover{
					color:#999999;
					text-decoration:none;
					margin-right:15px;
				}
				a.active{
					margin-left:15px;

					text-decoration:underline;
				}
			}
		}
	}
	.layout-content {
		line-height:normal;
		display:inline-block;
		width: 100%;
	}
	.bg-image {

		margin: 0px auto;

		height: calc( #{$header-height-desk} );
		width: 100%;
		background-size: cover;
		background-position:  center;
		overflow: hidden;
		.video {
			// should cover entire element
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			width: 100%;
		}
		.img-overlay {
			position: absolute;
			top: 0;
		 	margin: 0px auto;
			height: calc( #{$header-height-desk} );
			width: 100%;
			max-width:1220px;

		}
	}
	.content-container{
		height:auto;
		line-height:normal;
		margin-bottom:0;
		margin-left:auto !important;
		margin-right:auto !important;
		display:inline-block;
		.title {

			height:100%;
			display:inline-block;
			z-index: 999;
			img {
				display: block;
				margin: 0 auto;
			}
			.title-wrap {
				float:left;
				margin-right: auto;
				.video-btn{
					font-size:18px;
					font-weight:bold;
					color:#F3B837;
					text-decoration:none;
					border:solid 2px #F3B837;
					border-radius: 7.5px;
					padding:15px; 
					&:hover {

					}
					svg{
						height:20px;
						width:20px;
						margin-top:-2px;
						margin-left:15px;
					}
				}
			}
		}
	}
	@media #{$bp-tab-sm} {
		.left-image, .right-content{
			display:block !important;
			width:100%;
			clear:both;
			margin:0 !important;
		 	text-align: center;
			max-width:100% !important;
			img{
				margin-bottom:30px !important;
			}
		}
		.down-arrow{
			bottom:7px;
		}
	}
}
