.block-navigation {
	overflow:visible;
	height:100%;
	.home-anchor{
		height:60px;
		min-width:220px;
		width:100%;
		display:block;
		margin-left:20px;
	}
	.layout-content{
		height:100%;
	}
	.navigation{
		//background-color:yellow;
		z-index:100;
		width:100%;
		height:100%;
		text-align:center;
		margin-bottom:0;
		margin-top:0;
		.container-fluid{
			.mobile-nav{
				display:none;
				float:right;
				padding-right:15px;
				margin-right:10px;
				.menu-button{
					.menu-close{
						display:none;
					}
					.menu-open{
						cursor:pointer;
						display: inline-block;     
						position: relative;    
						z-index: 9999;     
						padding: 2em;     
						margin: -2em; 
					}
					.menu-up{
						display:none;
					}
				}
			}
			.mobile-menu{
				.primary-nav{
					overflow:hidden;
					list-style:none;
					margin-block-start: 0;
				    margin-block-end: 0;
				    margin-inline-start: 0px;
				    margin-inline-end: 0px;
				    padding-inline-start: 0px;	
				}
			}
			.main-nav{
				height:100%;
				float:right;
				line-height:0;
				ul.primary-nav{

					list-style:none;
					margin-block-start: 0;
				    margin-block-end: 0;
				    margin-inline-start: 0px;
				    margin-inline-end: 0px;
				    padding-inline-start: 0px;	
				    height:60px;
				    display:inline-block;
					>li{
						line-height:1;
						float:left;
						padding:20px 0;
					    position: relative;
					    display: inline-block;
						&.menu-item-has-children{
							padding-right:44px;
							&::after{
								position:absolute;
								top:24px;
								right:20px;
								color:white;
								content: "";
								width:14px;
								height:8px;
								background: transparent url('../../mason-modules/navigation/images/Icon-Dropdown-Gray.svg') no-repeat;
							}
							&:hover::after{
//								background: transparent url('../../mason-modules/navigation/images/Icon-Dropdown-Blue.svg')						
							}
						}

						&:first-child{
							margin-left:0;
						}
						a, .sub-nav a, a:active,a:visited,.sub-nav a:active,.sub-nav a:visited{
							font-size:16px;
							letter-spacing:1px;
							color:$inde_white;
							text-transform:uppercase;
							text-decoration:none !important;
							&:hover{
								text-decoration:none;
							}					
						}
						>a{
							height:100%;
							width:100%;
						}
						.sub-nav{
							width:250px;
							//border-top:solid 2px $inde_white;
							background-color:$inde_black;
							//background-color:blue;
							z-index:9999;
							padding:30px;
							list-style:none;
							display:none;
							text-align:left;
							position: absolute;
							top: 60px;
							right: 0px;	
							box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.08);
							li{
								text-align:left;
								margin:0 !important;
								float:none !important;
								padding:0 !important;
								display:block;
								border-bottom:0;							
								&:hover{
								}
								a, .sub-nav a, a:active,a:visited,.sub-nav a:active,.sub-nav a:visited{
									font-size:14px;
									line-height:38px;
									letter-spacing:1px;
									text-transform:uppercase;
									text-decoration:none !important;
									&:hover{
										text-decoration:underline !important;
										font-weight:normal;
									}
									&:active{
										font-weight:normal;
									}
								}
								&.main-link{
									a{
										font-size:16px;
										text-decoration:none !important;
									}
								}							
							}
						}
						&:hover{
//							background-color:$inde_white;
							.sub-nav{
								display:inline-block;
							}
						}

					}
				}
			}
		}
	}
	.sub-navigation{
		display:block;
		height:60px;
		width:100%;
		padding-top:16px;
		padding-bottom:20px;
		ul{
			height:20px;
    		@include ulReset
    		display:inline-block;
			li{
				display:inline-block;
				text-align: center;
				margin-right:40px;
				height:20px;
				&:last-child{
					margin-right:0;
				}
				a{
					line-height:20px;
					text-transform:uppercase;
					letter-spacing:1px;
					color:$inde_white;
				}
				a:hover{
					color:$inde_white !important;
					text-decoration:underline !important;
				}
			}
		}
		color:$inde_white;
		@media #{$bp-mobile}{
			display:none;
		}
		@media #{$bp-tab}{
			padding-left:30px;
			padding-right:30px;
		}

	}
	@media #{$bp-desk} {
		.navigation{
			.container-fluid{
				.mobile-nav{
					display:inline-block;
				}
				.main-nav{
					display:none;
				}
			}
		}
	}
	.mobile-navigation{
		display:none;
		height:0;
		overflow:hidden;
		z-index:99999999;
		width:100%;
		text-align:center;
		margin-bottom:0;
		margin-top:0;
		background-color:$inde_white;
		height:0;
			.container-fluid{
				width:100% !important;
				@media #{$bp-mobile}{
					padding-left:15px;
					padding-right:15px;
				}
				.primary-nav{
					text-align:left;
					display:inline-block !important;
					margin-top:55px;
					width:100%;
					line-height:1;
					.primary-nav{
						overflow:hidden;
						display:inline-block;
						.menu-item-wrapper{
							text-align:left;
						}
					}
					.menu-close-wrapper{
						display:block;
					}

				}

			}

	}
	.mobile-menu{
	}
	&.open-mobile{
			@media #{$bp-tab}{
				height:calc(100vh + 10px);
			}
			@media #{$bp-mobile}{
				height:1200px;
			}

		.mobile-navigation{
				z-index:99999999;

			@media #{$bp-tab}{
				height:calc(100vh + 10px);
			}
			.mobile-menu{
				overflow:scroll;
				@media #{$bp-tab}{
					height:calc(100vh + 10px);
				}
				@media #{$bp-mobile}{
					height:1200px;
				}
				.mobile-and-footer{
					text-align:left;
					padding-left:15px;
				}
			}
		}
		#mobile-nav-wrapper-close{
			width:100%;
			.mobile-nav-close{
				float:none;
				text-align:center;
				padding-right:0;
				margin-right:0;
				.menu-button-close{
					margin-top:56px;
					.menu-close{
   position: relative;    
   z-index: 1;     
   padding: 2em;     
   margin: -2em; 
						cursor:pointer;
						display:inline-block !important;
					}
				}
			}
		}
	}
}

.stuck-header{
	.block-navigation {
		.container-fluid{
			.mobile-nav{
				padding-top:23px;
				padding-bottom:23px;
			}

			.main-nav{
				ul.primary-nav{			
					padding-top:0px;
				}
			}

		}		
	}
}
body.menu-scroll{
	.menu-open{
		display:none !important;     
	}
	.menu-up{
		display: inline-block !important;     
	}
	.footer-content{
//		margin-top:-70px;
	}
}