.block-insta {
	h3{
		text-transform:uppercase;
	}
	padding:30px;
	padding-top:0;
	z-index:3;
	position:relative;
	background-color:$light-grey;
	color:$black;
	.instawrap {
		z-index:3;
		display:inline-block;
		width:100%;
	}
	.layout-content{
		border-top:solid 1px #ccc;
		padding-top:10px;
	}
	.wdi_feed_main_container,.wdi_feed_item,.wdi_front_overlay ,.wdi_photo_wrap,.wdi_feed_wrapper,.wdi_feed_container,.wdi_photo_wrap_inner{
		background-color:#f2f2f2 !important;
		border-color:#f2f2f2 !important;
	}
	.wdi_feed_users{
		margin-bottom:30px;
	}
	.wdi_photo_wrap{
		padding-left:10px !important;
		padding-right:10px !important;
	}
	.wdi_user_img_wrap{
		display:none !important;
	}
	.wdi_single_user{
		width:100%;
		.wdi_header_user_text{
			width:100%;
			h3{
				letter-spacing:1px;
				font-size:12px;
				line-height:12px;
				font-family:'Montserrat-Bold';
				color:#333;
				margin-left:30px !important;
				margin-top:15px !important;
				&:before{
					content:"@";
				}
			}
			&:before{
				content:"";
				width:20px;
				height:20px;
				display:inline-block;
				position:absolute;
				top:27px;
				background:url('/wp-content/themes/pilot/mason-modules/insta/Instagram.svg');
				background-repeat:no-repeat;
			}
			.wdi_user_controls{
				float:right;
				.wdi_follow_btn{
					border:0 !important;
					background-color:transparent !important;
					span{
						letter-spacing:1px;
						color:$blue;
						font-size:12px;
						line-height:12px;
						font-family:'Montserrat-Bold';
						text-transform:uppercase;
						&:after{
							content: " US";
						}
					}
				}
			}
		}
	}
	.insta-content{
		margin:0px;
		padding:0px;

		p{
			margin-bottom:30px;
			line-height:32px;
		}
	}
	.top-bar{
		display:none;
	}
	@media #{$bp-mobile} {
		padding-bottom:20px;
		.interior-container{
			//width:calc(100% - 40px);
			display:inline-block;
		}
		.wdi_follow_btn{
			margin-top:8px !important;
		}
		.wdi_feed_item {
			margin-top:-15px !important;
			width:calc(100%/3) !important;
			.wdi_photo_wrap{
				width:calc(100%) !important;
			}
		}
		.instawrap{
			float:none;
			width:100%;
			display:block;
			clear:both;
			padding:40px;
			i{
				font-size:24px !important;
				line-height:30px !important;
			}
		}
		
	}

}
.home .instawrap{
	width:600px;
	@media #{$bp-tab-sm} {
		width:100%;
	}
}
