$reveal_height_desk : 100vh;
$reveal_height_mobile : 375px;
.site-footer{
	background-color:#A0DCF0;	
	background-color:#e8e8e8;	
	.block-form{
		min-height:100vh;
		@media #{$bp-tab}{
			padding-top:140px;
			padding-bottom:60px;
		}

	}
}
body, a{
	scroll-snap-type:none;
}
.mobile-and-footer{
	margin-top:15px;
		scroll-snap-type:none;
		scroll-snap-stop:normal;
	.mf-col{
		position:relative;
		@media #{$bp-mobile}{
			margin-bottom:40px;
			&:nth-child(4) {
				margin-bottom:0;
			}
		}	
		@media #{$bp-mobile-min}{
			&:nth-child(1),&:nth-child(2) {
				//margin-bottom:50px;
			}
		}
			scroll-snap-stop:normal;

		p{
			scroll-snap-stop:normal;
			a,a:visited,a:active,a:hover{
			scroll-snap-stop:normal;
				display:block;
				font-family:'bas_regular';
				font-size:14px;
				line-height:24px;
				text-decoration:underline;
			}

			a,a:visited,a:active{
				color:$inde_darkgray;
			}
			a:hover{
				color:$inde_blue;
			}
			a.social{
				float:left;
			scroll-snap-stop:normal;
				margin-right:24px;
			}
			img{
			scroll-snap-stop:normal;
				height:24px;
				width:24px;
			}
		}

		a.weather,a.weather:visited,a.weather:active,a.weather:hover{
			scroll-snap-stop:normal;
			font-family:'bas_bold';
			font-size:14px;
			text-decoration:none;
			display:inline-block;
			color:$inde_blue !important;
		}
	}
}

.block-footer {
	@media #{$bp-tab}{
		padding-top:100px;
	}
	.container-fluid.container-lg{
		position:relative;
		.footer-content{
			width:100%;

		}
	}
	.footer-reveal{
		visibility:hidden;
		height:$reveal_height_desk;
		width:100%;
		position:fixed;
		bottom:0;
		left:0;
		color:#fff;
		z-index:-1;	
	    background-size: cover;
	    background-position: top center;
	}
	.mobile-navigation{
		.mobile-menu{
			padding-top:30px;
			padding-bottom:30px;
			width:100%;
			display:inline-block;
			padding-left:0;
			padding-right:0;
			.container-md{
				@media #{$bp-desk-min} {
				}
				padding-top:30px;
				@media #{$bp-tab-min} {
					max-width: $mw_in_lg;  
					padding-left:0;
					padding-right:0;
				}
				@media #{$bp-desk-min} {
					max-width: $mw_lg;  
					padding-left:0 !important;
					padding-right:0 !important;
				}
				@media #{$bp-tab} {
					@include container-md
					padding-left:0;
					padding-right:0;
				}
				@media #{$bp-mobile} {
					padding-left:0px;
					padding-right:0px;
				}
			}
			.primary-nav .sub-nav{
				@include ulReset
			}
			.primary-nav, .mobile-and-footer{
				>.menu-item-wrapper{
					display:block;
					float:left;
					@media #{$bp-desk}{
						&:nth-child(odd) {
							clear:left;
						}
					}
					@media #{$bp-mobile-min}{
						&:nth-child(odd) {
							padding-right:20px;
						}
						&:nth-child(even) {
							padding-left:20px;
						}
					}

					>a{
						font-family:'Open Sans Condensed', sans-serif;
						font-weight:bold;
						font-size:16px;
						color:$inde_blue;
						letter-spacing:1px;
						text-transform:uppercase;
					}
					.sub-nav{
						margin-top:15px;
						margin-bottom:25px;
						li{
							display:block;
							a{
								font-family:'Open Sans Condensed', sans-serif;
								font-size:14px;
								color:$inde_blue;
								letter-spacing:1px;
								text-transform:uppercase;
								line-height:40px;
								text-decoration:none;
								&:hover{
									text-decoration:underline;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media #{$bp-mobile} {
	.block-footer {
		.mobile-menu{
			padding-top:60px;
			padding-bottom:60px;
		}
		.footer-reveal{
			height:$reveal_height_mobile;
		}
	}
}