.block-projects {
	padding:0 15px 100px 15px;
	z-index:3;
	.layout-content{
		border-top:solid 1px #ccc;
		padding-top:35px;
	}
	position:relative;
	background-color:$light-grey;
	color:$black;
	.projects-wrap {
		z-index:3;
		display:inline-block;
		width:100%;
	}
	
	.projects-content{
		.labels{
			display:inline-block;
			width:100%;
			padding-left:15px;
			padding-right:15px;
			h3{
				display:inline-block;
				float:left;
				text-transform:uppercase;
				margin-bottom:0;
			}
			h5{
				float:right;
				color:$blue;
				-moz-transition: color .1s ease-in;
				-o-transition: color .1s ease-in;
				-webkit-transition: color .1s ease-in;
				transition: color .1s ease-in;			 	
				
				&:hover{
					color:#333333;
				}
			}
			//margin-bottom:15px;
		}
		margin:0px;
		padding:0px;

		p{
			margin-bottom:30px;
			line-height:32px;
		}
	}
	.top-bar{
		display:none;
	}
	@media #{$bp-mobile} {
        margin:0;
        padding:30px;
        .projects-content{
		    .labels{
		    	padding-left:0;
		    	padding-right:0;
		    }
		}
        .projects-wrap{
            margin:0;
            padding:0;
            .mix{
                    margin-left:0;
                    padding-left:0;
                    margin-right:0;
                    padding-right:0;
            }            
        }
		.interior-container{
			//width:calc(100% - 40px);
			display:inline-block;
		}

		.left-bar{
			display:none;
		}
		.top-bar{
			width:200%;
			height:30px;
			display:block;
			float:none;
		}
		
	}
	.container {
    padding: 1rem;
    text-align: justify;
	@media #{$bp-mobile} {
		padding:30px;
	}
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    background-size:cover;
    display: inline-block;
    vertical-align: top;
//	margin:15px;
}

.mix {
//    border-top: .5rem solid currentColor;
  //  border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
    margin:15px;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}
.mix-caption{
    background-color:$black;
	-moz-transition: background-color .1s ease-in;
	-o-transition: background-color .1s ease-in;
	-webkit-transition: background-color .1s ease-in;
	transition: background-color .1s ease-in;			 	

    padding:15px;
    display:inline-block;
    position:absolute;
    bottom:0;
    left:0;
    h6{
        color:white;
        text-transform:uppercase;
        margin:0;
    }
    &:hover{
    	background-color:$blue;
    }
}


/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100% - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 50px) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 2200px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 2200px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}


}