.block-features{
	width: 100%;
	padding-top:100px;
	padding-bottom:100px;
  .layout-content {
  }
  	h3{
  		margin-bottom:5px !important;
  	}
  	.features-fade{
  		width:100%;
  		height:300px;
  		z-index:10;
  		//border-bottom:solid 1px red;
background-image: linear-gradient(to bottom, rgba(32,32,32,0),rgba(32,32,32,1));
//background-color:rgba(32,32,32,0);
    	}
    	.feature-wrapper{
    	margin-top:-60px;
    background-color:$black;
		
    	}
	.features-section{
  	z-index:2;
  	//background-color:$black;
		width:100%;
		text-align:center;
		margin:0px;
		padding:0px;
		position: relative;
	}
	.features-block-image{
		height:50px;
		width:auto;
		padding:0px;
	}
	.features-content-section{
		margin:auto;
		max-width:$max-width-interior;
		vertical-align:top;
		position:relative;
		display:flex;
		justify-content:top;
		flex-wrap: wrap;
		width:100%;
		padding: $block-padding 0;
		@media #{$bp-tab-sm} {
			width: 100%;
			display:block;
		}
		.feature{
			width:33%;
			 flex-grow: 1;
			 padding-top:60px;

		}

	}
	.innersection{
		//margin:0 auto;
		text-align:left;
		max-width:260px;
		.feature-title {
			text-align: left;
			margin-top:40px;
			margin-bottom:40px;
			letter-spacing:4px;

		}
	}

	.text{
	}
}
@media #{$bp-tab} {
	.block-features{
		.features-content-section.interior-box{
			max-width:600px;

			.feature{
				width:calc(50% - 40px);
				&:nth-child(even){
					margin-left:40px;
				}
			}
		}
	}
}
@media #{$bp-mobile} {
	.block-features{

		padding-top:10px;
		padding-bottom:0;

		.features-section{
			.feature-wrapper{
		position:relative;
		background-color:$black;
				.interior-box{
					padding-left:40px;
				}
				.features-content-section.interior-box{
					padding:40px;

					.feature{
						width:calc(100% - 80px);
						.innersection{
							max-width:100%;
						}
						&:nth-child(even){
							margin-left:0;
						}
					}
				}
			}
		}
	}
}
