.block-alternating{
	.portfolio h4{
		font-style:normal;
		font-family:'Open Sans Condensed', sans-serif;
		margin-bottom:0;
	}
	.pilot-button{
		margin-top:50px;
		float:right;
		text-decoration:none;
		a, a:visited, a:active, a:hover, a:focus{
			text-decoration:none;
			h5{
				text-decoration:none;
			}
		}
	}
	width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    overflow:hidden;
    	.header-wrap{
			text-align:center;
			width:100%;
			color:#808080;
			h2{
				margin-top:60px;
				margin-bottom:5px;
				text-align:center;
				text-transform:uppercase;
			}
			label{
				margin-top:-10px;
				font-size:24px;
				font-family: 'Roboto Condensed', sans-serif;
				color:#A0DCF0;
				font-weight:800bold;
			}
		}

  .layout-content {
  }

	.alt-block-image{
		width:50%;
		padding:0px;
		display: table-cell;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
 		&.padding-one{
			background-size: calc(100% - 300px) calc(100% - 300px);
		}
	}
	.alt-content-section{
		display: table-cell;
		width: 50%;
		background: white;
		padding:50px 100px 20px 100px;
		@media #{$bp-tab-sm} {
			width: 100%;
			display:block;
		}	
		.row{	
			padding-top:4px;
			padding-bottom:4px;
			&:nth-child(odd){
				background-color:#e8e8e8;
			}
		}		
	}
		
	.alternating-section{
		width:100%;
		margin:0px;
		padding:0px;
		position: relative;
		display: table;
		height: 700px;
		@media #{$bp-tab-sm} {
			height:auto;
		}
		&:first-child {
			padding:0 0 0 0 !important;
		}
		&.image-right{
			.alt-content-section{
				float:left;
				height:100%;
			}
			.alt-block-image{
				float:right;
				height:400px;
			}
		}
	}
		text-align:left;
		
		a{
			display:inline-block;
		}

		h2 {
			text-align: left;
			font-weight: normal;
		}

	.text{
		margin-bottom: $block-padding;

		span:not(.break):not(.date){
			display:block;
			font-size:inherit !important;
			color:inherit !important;
			line-height:inherit !important;
		}
		.break{
			margin-left:12px;
			margin-right:19px;
		}
		.date{
			 white-space: nowrap;
		}
		h1{
			text-align:center;
		}

	}
	@media #{$bp-desk} {
			.alt-content-section{
				float:left;
				height:100%;
			}
			.alt-block-image{
				float:right;
				height:100%;
			}

		.alt-block-image{
			display:block;
			width:100%;
			height:500px;
		}
		.alt-content-section{
			width:100%;
			padding:60px 30px 60px;
		}
		.pilot-button{
			margin-right:10px;
		}		
	}
	@media #{$bp-tab} {
			.alt-content-section{
			}
			.alt-block-image{
			}

		.alt-block-image{
		}
		.portfolio{
		}
		.pilot-button{
			margin-bottom:20px;
			margin-top:20px;
		}
		.alt-content-section{
			padding:20px 10px 20px;
			h1{
				padding-left:10px;
				padding-right:10px;
				width:100%;
				text-align:center;
				.break{
					display:none;
				}
				.date{
					width:100%;
					margin-top:5px;
					display:block;
					font-size:24px !important;
				}
			}
		.row{	
			padding-top:10px;
			padding-bottom:10px;
			padding-left:0;
			padding-right:0;
			margin-left:10px;
			margin-right:10px;
			.col-xs-1{
				display:none;
			}
			.col-xs-4{
				margin-left:0;
			}
			.col-xs-6{
				width:auto;
				max-width:50%;
				margin-left:10px;
			}
				h4{
					line-height:20px;

				}
			}
		}
	}
}