
@font-face {
    font-family: 'Barlow';
    src: url('fonts/BarlowCondensed-Medium.eot');
    src: url('fonts/BarlowCondensed-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/BarlowCondensed-Medium.woff2') format('woff2'),
         url('fonts/BarlowCondensed-Medium.woff') format('woff'),
         url('fonts/BarlowCondensed-Medium.ttf') format('truetype'),
         url('fonts/BarlowCondensed-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow-SemiBold';
    src: url('fonts/BarlowCondensed-SemiBold.eot');
    src: url('fonts/BarlowCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/BarlowCondensed-SemiBold.woff2') format('woff2'),
         url('fonts/BarlowCondensed-SemiBold.woff') format('woff'),
         url('fonts/BarlowCondensed-SemiBold.ttf') format('truetype'),
         url('fonts/BarlowCondensed-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBM';
    src: url('fonts/IBMPlexSerif-Regular.eot');
    src: url('fonts/IBMPlexSerif-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/IBMPlexSerif-Regular.woff2') format('woff2'),
         url('fonts/IBMPlexSerif-Regular.woff') format('woff'),
         url('fonts/IBMPlexSerif-Regular.ttf') format('truetype'),
         url('fonts/IBMPlexSerif-Regular.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBM-Italic';
    src: url('fonts/IBMPlexSerif-Italic.eot');
    src: url('fonts/IBMPlexSerif-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/IBMPlexSerif-Italic.woff2') format('woff2'),
         url('fonts/IBMPlexSerif-Italic.woff') format('woff'),
         url('fonts/IBMPlexSerif-Italic.ttf') format('truetype'),
         url('fonts/IBMPlexSerif-Italic.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Regular.woff2') format('woff2'),
         url('fonts/Montserrat-Regular.woff') format('woff'),
         url('fonts/Montserrat-Regular.ttf') format('truetype'),
         url('fonts/Montserrat-Regular.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Bold.woff2') format('woff2'),
         url('fonts/Montserrat-Bold.woff') format('woff'),
         url('fonts/Montserrat-Bold.ttf') format('truetype'),
         url('fonts/Montserrat-Bold.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
	font-family: 'Barlow';
    background-color:$light-grey;
    .site{
    }
}
body.open-mobile{
        margin: 0;
        height: 100%;
        overflow: hidden;
}
.module {
  clear: both;
}
.pilot-button, .gform_button{
    border:none;
    height: 40px;
    display: inline-block;
    background-color:$inde_blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 12px !important;
    font-weight:normal;
     padding: 10px 20px;
    h5{
        color:white;
        font-family:'Montserrat-Bold';
        font-size:12px;
    }
    &:hover{
        background-color:$light-blue;
    }
    &.white{
        background-color:white;
        h5{
            color: black;
        }
        &:hover{
            background-color:$inde-white;
        }
    }
}

[class^="interior-box-"], .interior-box{
    margin:auto;
}
.interior-box{
    max-width:$max-width-interior;
}
@media #{$bp-tab} {
    .interior-box{
        max-width:600px;
    }
}
// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
    margin: 0 0 $element-spacing 0;
}
p{
    font-size:16px;
    line-height:32px;
    Font-Family: 'IBM';
    margin-bottom:40px;
    color:#666666;
}
h1{
    font-size:36px;
    line-height:36px;
    margin-bottom:40px;
    font-weight:normal;
    font-family:'Barlow';    
}
h2{
    font-size:30px;
    line-height:46px;
    margin-bottom:40px;
    font-weight:normal;
   // font-family:'IBM';
}
h3{
    font-size:20px;
    line-height:20px;
    font-weight:normal;
    font-family:'Barlow-SemiBold';
    color:$black;
}
h4{
    font-weight:normal;
font-family: "IBM-Italic";
   font-size: 20px;
   text-transform: uppercase;
   line-height: 32px;
   letter-spacing: 0;
    font-style:italic;
   }
h5{
    font-weight:normal;
    font-family: "Montserrat-Bold";
   font-size: 12px;
   line-height: 18px;
   text-transform: uppercase;
   letter-spacing: 1px;
   }
h6{
    font-size:12px;
    line-height:18px;
    font-weight:normal;
    font-family:'Montserrat';
    color:$grey;
    letter-spacing:1px;
}

@media #{$bp-mobile} {
    .page{
        .site-content{
            padding-top:0;
        }
    }
    h1{
        font-size:30px;
        line-height:30px;
  
    }
    h2{
        font-size:24px;
        line-height:32px;
  
    }
}
    i {
  border: solid $blue;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
    display:none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
    display:none;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
    .control-wrapper{
        .mobile-selector{
            display:none;
        }
        .controls{
            .mobile-selected{
                display:none;
            }
        }
    }
@media #{$bp-mobile} {
    .control-wrapper{
        .mobile-selector{
            display:block;
            padding:30px;
            .mobile-selected{
                float:left;
                h6{
                    display:inline-block;
                    color:#333 !important;
                }
            }
            .arrows{
                cursor:hover;
                width:30px;
                float:right;
                vertical-align:top;
                .down {
                    display:inline-block;
                }
                .up {
                    display:inline-block;
                }
            }
        }
        .mobile-bottom{
            border-bottom:solid 1px #ccc;
            margin:30px;
            margin-top:15px;
        }
        .controls{
            width:100%;
            margin-top:0 !important;
            padding-left:30px;
            display:inline-block;
            vertical-align:top;
            span{
                display:block;
                text-align:left;
                h6{

                    padding-left:0 !important;
                }
            }
        }
        &.closed{
            .controls{
                display:none;
            }
            .up{
                display:none !important;
            }

        }
    }

}

.interior-box-wide{
    max-width:1090px;
    margin:auto;
}
.shadow-card{
    background-color: #ffffff;
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    overflow:hidden;
}
.buffer{
    height:135px;
    width:100%;
}
.interior-box-small{
    width:$interior-box-small;

}
.pilot-container{
    padding-left:30px;
    padding-right:30px;    
}

.page-id-65{
    ul {
        h3{ 
            font-family:'Barlow'; 
            line-height: 40px;
        }
    }
    .block-generic_content{
        padding-top:75px; 
        background-color:white;
        .interior-box{ 
            max-width:800px;
        }
        h2{
            font-size:26px;
            color:#c0c0c0; 
            margin-left:100px;
            margin-top:-15px;
            i{
                padding-right:20px;
                border: solid #A0DCF0;
                border-width: 0 3px 3px 0;
            }
        }
        h1{
            font-size:44px; 
            line-height:52px;
            color: #A0DCF0; 
            span{
                padding-left:20px;
                padding-right:20px;
            }
        }
    }
    @media #{$bp-mobile} {
        .block-generic_content{
            .gc-wrap{
                //padding:20px;
                h1{
                    span{
                        padding-left:7px;
                        padding-right:7px;
                    }
                }
                h2{
                    margin-left:0;
                }
            }
        }
    }    
}
