$max-width-interior : 940px;

// Colors
$c-white: #fff;
$inde-white: white;
$c-black: #000;
$accent: #03a9f4;
$black: #606060;
$white:#ffffff;
$blue: #29AAe1;
$accent: blue;
$body-grey: #eee; 
$light-grey: #e6e6e6;
$medium-grey: #ccc;
$dark-grey: #8a8a8a;
$ud-yellow:#FF9900;
$light-blue:#29AAE1;
$accent: blue;
$grey: #999999; 
$light-grey: #f2f2f2;
$medium-grey: #ccc;
$dark-grey: #8a8a8a;
$inde_blue: #003865;
$inde_yellow: #FFD100;
$inde_darkyellow: #FFB100;
$inde_darkgray: #666666;
$inde_lightgray: #CCCCCC;
$inde_lightlightgray: #999999;
$inde_offwhite: #EBEBEB;
$inde_white: #FFFFFF;
$inde_black: #000000;

// Layout
$interior-box-small : 700px;
$interior-box-medium : 940px;
$interior-box-wide : 1040px;
$block-padding: 2rem;
$element-spacing: 1rem;

// Typography

$font-1: 'Barlow';
$font-2: 'Montserrat';

// Media Queries

$bp-mobile:	"only screen and (max-width: 800px)";
$bp-tab-sm: "only screen and (max-width: 620px)";
$bp-tab:	"only screen and (max-width: 960px)";
$bp-desk:	"only screen and (max-width: 960px)";
$bp-desk-lg: "only screen and (max-width: 960px)";
//$bp-mobile-padding: "only screen and (max-width: 1240px)"; // $bp-desk-lg + mobile side padding

// Wordpress Specific

$wp-center: 5px auto 5px auto;
$wp-left:   5px 90px 70px 0;
$wp-right:  5px 0 70px 90px;

// Susy Settings (add as needed in base)
$gutter-position: after;
$container: 1200px;
$columns: 12;
$gutters: 1;
$box-sizing: border-box;

$mobile : '659px';
$mobile_min : '660px';
$tab : '959px';
$tab_min : '960px';
$desk : '1258px';
$desk_min : '1259px';

$bp-mobile:	"only screen and (max-width: " $mobile ")";
$bp-mobile-min:	"only screen and (min-width: " $mobile_min ")";
$bp-tab:	"only screen and (max-width: " $tab ")";
$bp-tab-min:	"only screen and (min-width: " $tab_min ")";
$bp-desk:	"only screen and (max-width: " $desk ")";
$bp-desk-min:	"only screen and (min-width: " $desk_min ")";
$bp-desk-lg: "only screen and (max-width: " $desk ")";
$bp-mobile-padding: "only screen and (max-width: " $desk ")"; // $bp-desk-lg + mobile side padding

$mw_lg : 1260px;
$mw_in_mini: 315px;
$mw_in_sm: 600px;
$mw_in_lg: 800px;

@mixin container-lg(){
	max-width: $mw_lg;  
}
@mixin container-md(){
	max-width: $mw_in_lg;  
}

@mixin container-sm(){
	max-width: $mw_in_sm;  
}
