#masthead{
	&.sticky{
		position:fixed;
		top:0;

	}
	line-height:0;
}
#mobile-nav-wrapper{
	display:inline-block;
	@media #{$bp-desk-min} {
		display:none;
	}
	padding:20px;
	.menu-button{
		cursor:pointer;
	}
}
.site-header{
	margin:0px;
	padding:0px;
	width:100%;
	background-color:$c-black;
//	display:inline-block;
	.top_section{
		display:block;
		height:60px;
		z-index:9;
		margin:0 auto;
		padding:0px;
		width:96%;
		position:relative;
		overflow:visible;
		@media #{$bp-tab}{
			padding:0 10px;
		}
	}
	.site-branding{
		margin:0px;
		padding:20px 0;
		@include span(4);
		@media #{$bp-tab}{
			padding:25px 0px;
		}
		h1{
			color: #b8b8b8;
			margin: 0;
		}		
	}
	.main-navigation{
		ul{
			li{
				a{
					font-size:18px;
					color:white;//#e0e0e0;
				}
				a:hover, a:active, a:focus{
					color: #A0DCF0;
				}
			}
		}
	}
}
.bottom-section, .bottom-section-mobile{
	//display:none;
	line-height:1.42857143;
}
	.bottom-section, .bottom-section-mobile{
		display:inline-block;
		background-color:#A0DCF0;
		color:black;
		z-index:5;
		font-size:22px;
		font-weight:bold;
		width:100%;
		//margin-top:-5px;
		padding-top:7px;	
		padding-bottom:5px;
		//height:100%;
		.container{
			padding-top:10px;
			padding-bottom:10px;
		}
		@media #{$bp-tab} {
			.tag-text{
	//			display:none;
			}
			.pilot-button{
				margin-top:20px;
			}
		}
	}

.bottom-section-mobile{
	display:inline-block;
}

.bottom-spacer{
	display:none;
}
body.menu-scroll{
	.menu-button{
		margin-right:5px;
	}
}
body{
	&:not(.home){
		padding-top:60px;
	}
	&.home{
		&.stuck{
			padding-top:60px;
			@media #{$bp-tab} {
				padding-top:60px;
			}
		}
	}
}
.page-id-199{
	#banner_block_0{
		.bg-image{
			height:100px;
		}
		.down-arrow{
			display:none;
		}
	}
	#generic_content_block_1{
		padding-top:50px;
		padding-bottom:20px;
		ul{
			li{
				font-family:'Barlow';
				font-size:24px;
				color:#404040;
				//font-spacing:1px;
				line-height:26px;
				padding-bottom:15px;
				a{
					margin-left:5px;
				}
			}
		}
	}
	#form_block_2{
		padding-top:50px;
	}
}