$header-height:50vh;
$header-height-desk:50vh;

.block-parallax {

	position: relative;
	.parallax-block-wrap{

	    height: 80vh;
	    position: relative;
	    margin-bottom: 100px;	
		.bg-image {
background-attachment: fixed;
z-index:10;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
			width: 100%;
width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;			
		}
	}
}
