@media #{$bp-mobile} {
    .block-diffParallax{
        padding-top:60px !important;
        padding-bottom:40px !important;
        .layout-content{
        	background-color:$black;
        	position:relative;
        }
    }
}
