.block-form {
background-color:$white;
padding-top:60px;
	.container-form.container-fluid.container-lg{
		@media #{$bp-tab}{
			padding-left:15px !important;
			padding-right:15px !important;
		}
		@media #{$bp-mobile}{
			padding-left:30px !important;
			padding-right:30px !important;
		}
		@media #{$bp-desk-min}{
			max-width:1200px;
			padding-left:45px !important;
			padding-right:45px !important;
		}
	}
	.form-container{
	}
.gform_wrapper{
  .gform_heading{

	h3{
	  font-size:36px !important;
	  line-height:36px;
	  font-family:'Barlow';
	  margin-left:0 !important;
	  margin-right:0 !important;
	  margin-top: 0px !important;
	  margin-bottom: 30px !important;
	  font-weight:normal !important;
	}
  }
	.gfield_label{
		text-spacing:1px;
		font-size:16px;
		line-height:18px;
		font-weight:bold !important;
	}
	.ginput_container{
		input,textarea{
		  padding-left:20px !important;
		  padding-right:20px !important;
			border:solid 1px $inde_lightgray;
			//border-radius:6px;
			outline: none;
			&::placeholder {
			  color: $inde_darkgray;
			}
			:-ms-input-placeholder {
			  color: $inde_darkgray;
			}
			::-ms-input-placeholder {
			  color: $inde_darkgray;
			}            
		}
		label{
		}
	}
  @media #{$bp-tab} {
	  .ginput_container{
		  input,textarea{
			&.small,&.medium{
			  width:100% !important;
			}
	  }
	} 
  }
	.gform_button{
		outline:0 !important;
	}

.gform_button {
}
.gform_button:hover {
}

.gform_button:active {
  position:relative;
  top:1px;
}
}

}
.block-form{
	@media #{$bp-desk} {
	}
	@media #{$bp-tab} {
	}
}