.sticky{
	position:fixed;
	top:0;
}
.stuckSect{
	position:fixed;
	top:0;
}

.block-joinery{
	margin-bottom:0 !important;
	position:relative;
	height:0px;
	.bg-cloud-two{
		z-index:10;
		width:85%;
		position:relative;
		top:-40px;
		&.sticky{
			position:fixed;
			top:20px;
		}
		.wordmark{
			&#w2{
				svg,path{
					fill:#A0DCF0 !important;
				}
			}
		}
		div{
			.hero-text{
//				float:right;
				width:100%;
				margin-top:-28px;
				margin-left:50%;
				color:white;
				font-size:28px;
				transition: color .3s ease-in-out;
			    -moz-transition: color .3s ease-in-out;
			    -webkit-transition: color .3s ease-in-out;
			    &.fade-hero{
			    	color:transparent;
					transition: color .3s ease-in-out;
				    -moz-transition: color .3s ease-in-out;
				    -webkit-transition: color .3s ease-in-out;
			    }
			}
			#hero-tag{
				display:none;

				@media only screen and (max-width: 1060px){

					visibility:hidden !important;
				}

			}
		}
	}
	.bg-cloud{
		z-index:7;
		height:60px;
		padding:20px;
		background-color: rgba(60,60,60,0.5);
		div{
			.hero-text{
				float:right;
				width:50%;
				font-size:36px;
			}
		}
		width:100%;
		//transition: background-color .4s ease-in-out;
		//-moz-transition: background-color .4s ease-in-out;
		//-webkit-transition: background-color .4s ease-in-out;
		&.trans{
			background-color: rgba(230,230,230,0);
		}
	}
	.layout-content{
		height:100%;
		padding-top:0;
		//text-align:center;
//		background-size:200%;
	//	background-position: -400px -250px;
	    @media #{$bp-tab} {
			background-size:cover;
			background-repeat:no-repeat;
			background-position: 0 0;
		}
		.jlogo-wrapper{
			display:inline-block;
			width:100%;
			text-align:left;
			@media #{$bp-desk-min} {
				margin-left:160px;
			}

			.letter{
				height:20px;
			}
			img{
				fill:white;
			}
			.letter{
				opacity:0;
			}
			.wordmark-wrapper{

				display:inline-block;
				width:auto;
				margin: 0 auto;
				.wordmark{
					margin-left:-20px;
					opacity:1;
					&#w4, &#w5{
						opacity:0;
					}
				}
				.letter{
					display:inline-block;
					opacity:0;
					&#l2{
						margin-left:-4px;
					}
					&#l3{
						margin-left:-9px;
					}
					&#l5{
						margin-left:-5px;
						opacity:1;
					}
					&#l6{
						margin-left:-18px;
					}
					&#l4{
						opacity:1;					
					}
				}
			}
			.wordmark{
				display:inline-block;
				height:20px;
				svg{
					height:20px;
					width:auto;
					fill:white !important;
				}
				&#w5{
					margin-left:-8px;
				}
			}
			&.actives{
				background-color:#002B43;
				//-webkit-transition: background-color 500ms linear;
				//-moz-transition: background-color 500ms linear;
				//-o-transition: background-color 500ms linear;
				//-ms-transition: background-color 500ms linear;
			//	transition: background-color 500ms linear;
				.wordmark{
					svg{
						g path{
							fill:white !important;
						}
					}
				}
			}
		}
	}

}
.home{
	.block-joinery{
		.layout-content{
			.jlogo-wrapper{
				.letter{
					opacity:1;
				}
				.wordmark-wrapper{
					.wordmark{
						opacity:0;
						&#w4{
						//	opacity:1;
						}
					}
				}
				.letter{
					&#l5{
						margin-left:-5px;
						//opacity:0;
					}
				}
			}
		}

		@media #{$bp-mobile-min} {
			height:90vh;
			.layout-content{
				padding-top:110px;
			}
		}
	}
}
	.mobile-wordmark-wrapper{
		display:none;
	}


@media only screen and (max-width: 600px) {
	.m-hide{
		display:none;
	}
	.bg-cloud-two{
		width:100% !important;
	}
	img.letter, .wordmark, .jlogo-wrapper{
		//display:none !important;
	}
	.jlogo-wrapper{
		margin-left:8px !important;
		.letter{
			&:nth-child(1){
				display:none !important;
			}
			&:nth-child(3){
				visibility:hidden;
			}

			&:last-child(),&:nth-last-child(2),&:nth-last-child(3),&:nth-last-child(4),&:nth-last-child(5),&:nth-last-child(6),&:nth-last-child(7){
				visibility:hidden;
			}
		}
	}
	.mobile-wordmark-wrapper{
		margin-left:30px;
		//display:inline-block;
	}
}
body.stuck{
	.site-content{
	}
	.block-joinery{
		.bg-cloud{
			background-color:$c-black;
		}
	}
	.way-two-container{
		position:relative;
		z-index:9999;
		.site-header{
			background-color:transparent;
		}
	}
}